{% extends 'common/layout.html' %} {% block body %}

<div class="index">
    <i class="material-icons index__logo">code</i>
    <h1>Nick Cardin</h1>

    <div class="index__cards">
        <a href="https://www.linkedin.com/in/nacardin/" class="index__card">
            <img class="index__card__image" src="/assets/images/linkedin.svg"/>
            <div class="index__card__label">@nacardin</div>
        </a>
        <a href="https://www.facebook.com/nick.cardin" class="index__card">
            <img class="index__card__image" src="/assets/images/facebook.svg"/>
            <div class="index__card__label">@nick.cardin</div>
        </a>
        <a href="https://www.linkedin.com/in/nacardin/" class="index__card">
            <img class="index__card__image" src="/assets/images/twitter.svg"/>
            <div class="index__card__label">@nacardin</div>
        </a>
    </div>

</div>

{% endblock %}