.index {
    text-align: center;
    >h1 {
        margin-top: 0;
        font-size: 3rem;
    }
    >dl {
        margin: 3.5rem 0;
        >dt {
            margin-top: 1rem;
            font-size: 1.2rem;
            color: map-get($grey, darken-1);
        }
        >dd {
            font-size: 1.4rem;
            margin: 0;
            >a {
                color: inherit;
            }
        }
    }
    &__logo {
        font-size: 128px;
        font-weight: 300;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0;
    }
    &__card {
        margin: 1rem; // border: 1px solid map-get($grey, darken-1);
        // border-width: 1px 2px 3px 4px;
        min-width: 92px;
        &__image {
            height: 48px;
        }
        &__label {
            font-size: 2rem;
        }
    }
}